<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../../partials/head'); %>
        <title>
            Editer un professeur
        </title>
</head>

<body>
    <header>
        <%- include('../../partials/header', {pageName:pageName}); %>
    </header>
    <main class="container position">
        <div>
            <form action="/teachers/edit/<%=teacher.id%>" method="POST">
                <h2>Editer un professeur</h2>
                <% if(isAdded) {%>
                    <div role="alert" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } 
                    if(isError) {%>
                        <div role="alert" class="alert alert-danger">
                            <%= message %>
                        </div>
                        <% } %>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="name">Nom du professeur</label>
                                        <input type="text" id="name" name="name" value="<%= teacher.name %>" class="form-control form-control-lg" required/>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-light btn-lg mr-2"><a class="nav-link" href="/teachers">Annuler</a></button>
                            <button type="submit" class="btn btn-primary btn-lg ">Editer</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>